<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arslan.sunshine2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3dae9c029431b35839b4e0e9336342f4788a921d" />

        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.arslan.sunshine2.MainActivity" />
        </activity>
        <activity
            android:name="com.example.arslan.sunshine2.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.example.arslan.sunshine2.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

    </application>

</manifest>